@use '../components/reset' as *;
@use '../components/variables' as *;

h1{
    font-family: $primary-font;
    font-size: 3rem;
    font-weight: 700;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height:90vh;
}