@use '../components/variables' as *;

.profile-form {
    width: 290px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        label {
            font-size: 0.9rem;
            display: flex;
            align-items: center;
            font-family: $secondary-font;
        }

        .input {
            width: 150px;
            height: 35px;
            margin-top: 5px;

            &::placeholder {
                font-size: 0.6rem;
            }
        }

        input[type="file"] {
            padding: 6px;
            cursor: pointer;
        }
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-top: 40px;
    
        button {
            margin: 2px;
            padding: 8px 12px;
            border-radius: 4px;
            background-color: black;
            color: white;
            border: 1px solid black;
            font-size: 0.8rem;

            &:hover {
                cursor: pointer;
                background-color: #333;
                color: #fff;
            }
        }
    }
}

@media(min-width: 768px) {
    .profile-form {
        width: 500px;

        &-group {
            label {
                font-size: 1rem;
            }

            .input {
                width: 250px;
                height: 40px;

                &::placeholder {
                    font-size: 0.8rem;
                }
            }

            input[type="file"] {
                padding: 8px;
            }
        }

        .button-container {
            button {
                font-size: 0.9rem;
            }
        }
    }
}

@media(min-width: 1024px) {
    .profile-form {
        width: 600px;

        &-group {
            label {
                font-size: 1.2rem;
            }

            .input {
                width: 325px;

                &::placeholder {
                    font-size: 1rem;
                }
            }

            input[type="file"] {
                padding: 10px;
            }
        }

        .button-container {
            button {
                font-size: 1rem;
            }
        }
    }
}
