.header {
    &-logo {
        display: flex;
        justify-content: center;
    }
    &-nav-links {
        border-top: 1px solid lightpink;
        border-bottom: 1px solid lightpink;
    }
    &-nav-links > ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &-nav-links > ul > li {
        list-style-type: none;
        padding: 5px 30px;
        font-weight: 800;
    }
    &-nav-links > ul > li > i {
        font-weight: 800;
    }
    &-nav-links > ul > li > a {
        text-decoration: none;
        color: black;
    }
}