@use "variables" as *;
@use "mixins" as *;
.services {
    &-gallery-content {
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        @media(min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            margin: 10px 100px;
        }
        @media(min-width: 1024px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media(min-width: 1440px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    &-card {
        margin: 15px;
        @include flex-col;
        justify-content: center;
        min-height:200px;
        // border:1px solid #ccc;
        padding:10px;
        &-image {
            width: 240px;
            @media(min-width: 1024px) {
                width: 275px;
            }
        }
        &-btns{
            @include flex-row;
            justify-content: center;
            width: 100%;
            gap:1vh;

            button{
                width: 100px;
                padding:5px;
                font-size: 0.8rem;
                font-family:$secondary-font;
                background:#45BF55;
                border:none;
                color:#fff;
                @media(min-width: 1024px) {
                    font-size: 1rem;
                }
            
            }
            :nth-child(2){
                background:#D90404;
            }
        }
        
        &-info {
            @include flex-col;
            justify-content: space-around;
            align-items: center;
            &-name {
                display: flex;
                line-height: 0;
                font-size: 0.9rem;
                &:hover {
                    color: #C93482;
                }
            }
            &-prices {
                font-size: 0.8rem;
                line-height: 0;
                @media(min-width: 1024px) {
                    font-size: 0.9rem
                }
                > div {
                    @include flex-row;
                    //changed this 
                    justify-content: flex-start;
                    align-items: center;
                    > :nth-child(2) {
                        color: rgb(142, 142, 142);
                        text-decoration: line-through;
                        font-weight:400;
                        font-size:0.9rem;
                    }
                    > p {
                        //font-weight:700;
                        //font-size:1.1rem;
                        padding-right: 10px;
                        
                    }

                }
            }

            &-container {
                @include flex-col;
                align-items: center;
                justify-content: space-between;
                > p, a {
                    line-height: 0;
                    text-align: left;
                    @media(min-width: 1024px) {
                        font-size: 1.2rem
                    }
                    //font-size: 0.9rem;
                }
            }

            
        }
    }
}