@use "variables" as *;
@use "mixins" as *;

.testimonials {
    &-banner {
        @include page-banner;
        justify-content: center;
    @media (min-width: 768px) {
        height: 400px;
    }
    }
    &-large {
        font-size: 2.5rem;
        margin-left: 20px;
        line-height: 0rem;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 3.5rem;
            margin-left: 100px;
        }
    }
    &-small {
        font-size: 0.7rem;
        margin-left: 20px;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 0.9rem;
            margin-left: 100px;
        }
    }
    &-path {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.7rem;
        margin-left: 20px;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 0.9rem;
            margin-left: 100px;
        }
        > i, p {
            padding: 0 8px;
        }
    }
    &-gallery {
        font-family: $secondary-font;
        display: grid;
        grid-template-columns: 1fr ;
        margin: 20px 0;
        @media (min-width: 768px) {
            margin: 20px 100px;
        }
        @media (min-width: 1440px) {
            grid-template-columns: 1fr 1fr;
            margin: 20px 145px;
        }
    }
    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &-card-image {
        width: 100px;
        position: relative;
        bottom: 185px;
        left: -104px;
        &-container {
            height: 10px;
        }
        @media(min-width: 1024px) {
            width: 150px;
            bottom: 275px;
            right: 55px;
            left: -200px;
        }
    }
    &-card-info {
        background-color: rgb(243, 242, 242);
        width: 250px;
        height: 228px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 0.5px;
        @media(min-width: 1024px) {
            width: 400px;
            height: 350px;
            margin: 20px;
        }
        > p {
            padding-left: 60px;
            padding-right: 10px;
            @media(min-width: 1024px) {
                padding-left: 100px;
                padding-right: 30px;
            }
        }
        &-name {
            font-weight: 600;
            font-size: 1.1rem;
            @media(min-width: 1024px) {
                font-size: 1.4rem;
            }
        }
        &-description {
            font-size: 0.8rem;
            margin: 0;
            height: 140px; 
            display: flex;
            align-items: center;
            @media(min-width: 1024px) {
                font-size: 1rem;
            }
        }
    }
}
.fa-star {
    color: lightgray; 
  }
  
  .filled {
    color: gold; 
  }