@use "variables" as *;
@use "mixins" as *;

.testimonials {
    &-banner {
        @include page-banner;
        justify-content: center;
    @media (min-width: 768px) {
        height: 400px;
    }
    }
    &-large {
        font-size: 2.0rem;
        margin-left: 20px;
        line-height: 0rem;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 3.5rem;
            margin-left: 100px;
        }
    }
    &-small {
        font-size: 0.7rem;
        margin-left: 20px;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 0.9rem;
            margin-left: 100px;
        }
    }
    &-path {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.7rem;
        margin-left: 20px;
        margin-top: 15px;
        @media (min-width: 425px) {
            margin-left: 60px;
        }
        @media (min-width: 768px) {
            font-size: 0.9rem;
            margin-left: 100px;
        }
        > p, a {
            padding: 0 16px;
            color: white;
        }
    }
}

.testimonial{
    @include flex-col;

    &-container{
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;

    }

    &-form{
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width: 100%;
        max-width:400px;    
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

        button{
            width: 100%;
            // width:390px;
            // min-width:420px;
            background-color:#000;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-family:$secondary-font;
            font-size:1.1rem;
            padding: 15px;
            border: 1px solid lightgray;
            border-radius: 10px;
            color: white;
            font-weight: 800;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover{
                background-color: #4d4d4d;
            }
        }
    }
 &-label{
    @include flex-row;
    justify-content: center;
    font-family:$secondary-font;
 }
    &-rating-input{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        width: 100%;
        label{
            font-family:$secondary-font;
            font-size:1rem;
            font-weight: 400;
        }
    }
    &-success-message{
        color: #168039;
        font-size: 1.2rem;
        font-weight:500;
        font-family: $secondary-font;
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width:55%;
        padding:20px;
        background:#97ED8A;
        
    }
    &-error-message{
        color:#CA2222;
        font-size: 1.2rem;
        font-weight:700;
        font-family: $secondary-font;
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        width:55%;
        padding:20px;
        background:#F1C5C5;
    }
    @media (min-width: 768px) {
        width: 100%;
    }

}
