@use "variables" as *;

.header {
    &-top-nav {
        display: flex;
        align-items: center;
        flex-direction: column ; //take this out at bigger sizes
        justify-content: space-evenly;
        width: 100%;
        background-color: black;
        color: white;
        padding: 10px 0;
        @media(min-width: 768px) {
            flex-direction: row;
        }
    }
    &-socials {
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        font-size: 0.7rem;
        @media(min-width: 768px) {
            font-size: 0.8rem;
        }
        @media(min-width: 1024px) {
            font-size: 1rem;
        }

    }
    &-socials > a {
        padding: 0 15px; 
        color: white;
    }
    &-contact {
        display: flex;
        //flex-direction: row;
        flex-direction: column;
        align-items: center;
        line-height: 0;
        font-size: 0.6rem;
        @media(min-width: 768px) {
            //font-size: 0.7rem;
        }
        @media(min-width: 1024px) {
            flex-direction: row;        
        }
    }
    &-contact > p {
        // font-size: 0.9rem;
        @media(min-width: 1024px) {
            font-size: 0.8rem;
            padding: 0 15px;

        }
    }
}