.header {
    &-top-nav {
        display: flex;
    }
    &-socials {
        display: flex;
        flex-direction: row;
    }
    &-contact {
        display: flex;
        flex-direction: row;
    }
}