@use '../components/variables' as *;

.add-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 290px;
        @media(min-width: 768px) {
            width: 400px;
        }
        @media(min-width: 1024px) {
            width: 500px;
        }
        > .form-group-category {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            > input {
                width: 150px;
                height: 35px;
                // display: flex;
                // align-items: center;
                @media(min-width: 768px) {
                    width: 250px;
                    height: 40px;
                }
                @media(min-width: 1024px) {
                    width: 325px;
                }
                &::placeholder {
                    font-size: 0.6rem;
                    @media(min-width: 768px) {
                        font-size: 0.8rem;
                    }
                    @media(min-width: 1024px) {
                        font-size: 1rem;
                    }
                }
            }
            > label {
                font-size: 0.9rem; 
                display: flex;
                align-items: center;
                font-family: $secondary-font;
                @media(min-width: 768px) {
                   font-size: 1rem;
                }
                @media(min-width: 1024px) {
                    font-size: 1.2rem;
                }
            }  
        }
        > .button-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 10px;
            > button {
                margin: 5px;
                padding: 3px;
                width: 70px;
                border-radius: 5px;
                background-color: black;
                color: white;
                border: 1px solid black;
                @media(min-width: 768px) {
                    font-size: 1rem;
                    padding: 5px;
                    width: 80px;
                }
                @media(min-width: 1024px) {
                    font-size: 1.2rem;
                    width: 95px;
                }
                > a {
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}