@use '../components/variables' as *;
@use '../components/mixins' as *;

.admin{
    @include flex-col;
    justify-content: flex-start;
    align-items: flex-start;
    min-height:60vh;
    button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#222;
        color: white;
        border: none;
        padding: 10px 20px;
        font-family: $secondary-font;
        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: #4d4d4d;
        }
    }

    &-container{
        @include flex-col;
        justify-content: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        align-items: center;
    }

    &-copy{
        @include flex-col;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-btns{
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#222;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        }
    }
    &-testimonials-container{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 50px;
        margin: 0 auto;
        gap: 1vh;
        h1{
            font-family: $primary-font;
            font-size: 3.5rem;
            font-weight: 700;
        }
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
        input{
            width: 30%;
            padding: 10px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            border: 1px solid #ccc;
            border-radius: 5px;
        
        }
    }
    &-testimonials-copy{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        // padding: 50px;
        margin: 0 auto;
        gap: 1vh;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-testimonials-btns{
        @include flex-row;
        justify-content: center;
        align-items: center;
        padding:0 5vh;
        gap: 1vh;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#222;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        }
    }
    &-testimonials{
        @include flex-col;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-testimonial-details{
        @include flex-row;
        justify-content: center;
        border-top:1px solid #ccc;
        padding:20px;
        width:100%;
    }
    &-testimonial-copy{
        @include flex-col;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        // paddng: 20px;
        // margin: 0 auto;
        text-align: left;
        h3{
            font-family: $primary-font;
            font-size: 1.2rem;
            margin:0;
            font-weight: 700;
        }
        h4{
            font-family: $primary-font;
            font-size: 1rem;
            font-weight: 700;
            margin:0;
        }
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-testimonial-btns{
        @include flex-row;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        width:20%;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#CA2222;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        }
    }
    &-testimonial{
        @include flex-row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &-all-container{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        h1{
            font-family: $primary-font;
            font-size: 3.5rem;
            font-weight: 700;
        }
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
        input{
            width: 30%;
            padding: 10px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            border: 1px solid #ccc;
            border-radius: 5px;
        
        }
    }
    &-all-users{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    &-user{
        @include flex-row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        border-top: 1px solid #ccc;
    }
    &-user-details{
        @include flex-row;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        // padding: 50px;
        margin: 0 auto;
        gap: 1vh;
    }
    &-user-copy{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        // padding: 50px;
        margin: 0 auto;
        gap: 1vh;
        h3{
            font-family: $primary-font;
            font-size: 1.2rem;
            font-weight: 700;
            margin:0;
        }
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            margin:0;

        }
    }
    &-user-btns{
        @include flex-row;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        width:20%;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#4CA633;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }

        }
        :nth-child(2){
            background-color: #BF0426;
        }
    }
    &-pagination{
        @include flex-row;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#222;
            color: white;
            border: none;
            padding: 5px 10px;
            font-family: $secondary-font;
            font-size: .7rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        }
        span{
            font-family: $secondary-font;
            font-size: .8rem;
            font-weight: 700;
        }
    }
    &-edit-container{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        padding: 20px;
        h1{
            font-family: $primary-font;
            font-size: 3rem;
            font-weight: 700;
        }
    }
    &-customer-details{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap:2vh;
    }
    &-customer-info{
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        width:70%;
        margin: 0;
        gap: 2vh;
        input{
            width: 60%;
            padding: 10px;
            font-family: $secondary-font;
            font-size: 1.2rem;
            font-weight: 400;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        label{
            font-family: $secondary-font;
            font-size: 1.2rem;
            font-weight: 700;
        }
        p{
            font-family: $secondary-font;
            font-size: 1.2rem;
            font-weight: 400;
            margin:0;
            width:60%;
        }
    }   

    &-edit-btns{
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
        gap: 1vh;
        width:100%;
        padding:20px 0;
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#4CA633;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            width: 100%;
            max-width:200px;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }

        }
        :nth-child(2){
            background-color: #BF0426;
        }
    }
    &-all-categories{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    &-category-box{
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        // border-top: 1px solid #ccc;
    }
    &-category-container{
        @include flex-col;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        padding: 20px;
        h1{
            font-family: $primary-font;
            font-size: 3rem;
            font-weight: 700;
        }
        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#4CA633;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        
        }
    }
    &-category{
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        gap: 1vh;
        border-top: 1px solid #ccc;

        button{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:#F21616;
            color: white;
            border: none;
            padding: 10px 20px;
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                background-color: #4d4d4d;
            }
        }
    }
    &-delete-message{
        @include flex-col;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        width: 100%;
        padding: 20px;
        margin: 0 auto;
        p{
            font-family: $secondary-font;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    @media (min-width: 960px) {
        @include flex-col;

        &-btns{
            @include flex-row;
        }

    }
}
.pagination {
    display: flex;
    margin: 0 auto;
    > button {
        background-color: white;
        color: black;
        padding: 7px;
        font-size: 0.9rem;
        margin: 0;
    }
}
.search-bar {
    display: flex;
    > input {
        width: 200px;
        @media(min-width: 768px) {
            width: 300px;
        }
    }
    > button {
        background-color: white;
        color: black;
    }
}