@use '../components/variables' as *;
@use '../components/reset' as *;


.business-profile{
    &-about, &-services{
        margin:30px;
        border: 1px solid rgba(181, 181, 181, 0.49);
        padding: 10px 20px 10px 20px;
        text-align: center;
    }
    &-about-details{
        line-height: 30px;
    }
    &-services{
        border:none;
    }
    &-services-title{
        margin-top: 50px;
    }
    &-services-dropdown-menu {
        padding: 8px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    &-services-buttons{
        display: none;
    }

    @media (min-width: 768px){
        &-about{
            margin: 30px 130px 30px 130px;
            text-align: left;      
        }
        &-title{
            font-size: 30px;
        }
        &-services-dropdown-menu{
            display: none;
        }
        &-services-buttons{
            display: block;
        }
        &-services-button-desktop {
            padding: 10px 30px;
            margin: 10px;
            background-color: transparent;
            color: black;
            border: 1px solid transparent;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s, color 0.3s;
        }
        &-services-button-desktop:hover,
        &-services-button-desktop.active {
            background-color: black;
            color: white;
        }
        &-services-title{
            font-size: 35px;
            // margin-top: 70px;
        }
    }
}