@use '../components/variables' as *;

.edit-password {
    &-container{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        margin: 30px;
    }
    @media (min-width: 425px) {
        &-container{
            margin-left: 60px;
        }
    }
    @media (min-width: 768px) {
        &-container{
            margin-left: 100px;
        }
    }

}